h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.gallery-img{
    width: 300px;
    height: auto;
}